
.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav > li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

/* Nucleo Style */

.demo-iconshtml {
  font-size: 62.5%;
}

.demo-icons body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333333;
  background: white;
}

.demo-icons a {
  color: #608cee;
  text-decoration: none;
}

.demo-icons header {
  text-align: center;
  padding: 100px 0 0;
}

.demo-icons header h1 {
  font-size: 2.8rem;
}

.demo-icons header p {
  font-size: 1.4rem;
  margin-top: 1em;
}

.demo-icons header a:hover {
  text-decoration: underline;
}

.demo-icons .nc-icon {
  font-size: 34px;
}

.demo-icons section h2 {
  border-bottom: 1px solid #e2e2e2;
  padding: 0 0 1em 0.2em;
  margin-bottom: 1em;
}

.demo-icons ul {
  padding-left: 0;
}

.demo-icons ul::after {
  clear: both;
  content: "";
  display: table;
}

.demo-icons ul li {
  width: 20%;
  float: left;
  padding: 16px 0;
  text-align: center;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.demo-icons ul li:hover {
  background: #f4f4f4;
}

.demo-icons ul p,
.demo-icons ul em,
.demo-icons ul input {
  display: inline-block;
  font-size: 1rem;
  color: #999999;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.demo-icons ul p {
  padding: 20px 0 0;
  font-size: 12px;
  margin: 0;
}

.demo-icons ul p::selection,
.demo-icons ul em::selection {
  background: #608cee;
  color: #efefef;
}

.demo-icons ul em {
  font-size: 12px;
}

.demo-icons ul em::before {
  content: "[";
}

.demo-icons ul em::after {
  content: "]";
}

.demo-icons ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: none;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}

.table td,.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef
}

.table tbody+tbody {
  border-top: 2px solid #e9ecef
}

.table .table {
  background-color: #fff
}

.table-sm td,.table-sm th {
  padding: .3rem
}

.table-bordered {
  border: 1px solid #e9ecef
}

.table-bordered td,.table-bordered th {
  border: 1px solid #e9ecef
}

.table-bordered thead td,.table-bordered thead th {
  border-bottom-width: 2px
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05)
}

.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,.075)
}

.table-primary,.table-primary>td,.table-primary>th {
  background-color: #b8daff
}

.table-hover .table-primary:hover {
  background-color: #9fcdff
}

.table-hover .table-primary:hover>td,.table-hover .table-primary:hover>th {
  background-color: #9fcdff
}

.table-secondary,.table-secondary>td,.table-secondary>th {
  background-color: #dddfe2
}

.table-hover .table-secondary:hover {
  background-color: #cfd2d6
}

.table-hover .table-secondary:hover>td,.table-hover .table-secondary:hover>th {
  background-color: #cfd2d6
}

.table-success,.table-success>td,.table-success>th {
  background-color: #c3e6cb
}

.table-hover .table-success:hover {
  background-color: #b1dfbb
}

.table-hover .table-success:hover>td,.table-hover .table-success:hover>th {
  background-color: #b1dfbb
}

.table-info,.table-info>td,.table-info>th {
  background-color: #bee5eb
}

.table-hover .table-info:hover {
  background-color: #abdde5
}

.table-hover .table-info:hover>td,.table-hover .table-info:hover>th {
  background-color: #abdde5
}

.table-warning,.table-warning>td,.table-warning>th {
  background-color: #ffeeba
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1
}

.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th {
  background-color: #ffe8a1
}

.table-danger,.table-danger>td,.table-danger>th {
  background-color: #f5c6cb
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th {
  background-color: #f1b0b7
}

.table-light,.table-light>td,.table-light>th {
  background-color: #fdfdfe
}

.table-hover .table-light:hover {
  background-color: #ececf6
}

.table-hover .table-light:hover>td,.table-hover .table-light:hover>th {
  background-color: #ececf6
}

.table-dark,.table-dark>td,.table-dark>th {
  background-color: #c6c8ca
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe
}

.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th {
  background-color: #b9bbbe
}

.table-active,.table-active>td,.table-active>th {
  background-color: rgba(0,0,0,.075)
}

.table-hover .table-active:hover {
  background-color: rgba(0,0,0,.075)
}

.table-hover .table-active:hover>td,.table-hover .table-active:hover>th {
  background-color: rgba(0,0,0,.075)
}

.thead-inverse th {
  color: #fff;
  background-color: #212529
}

.thead-default th {
  color: #495057;
  background-color: #e9ecef
}

.table-inverse {
  color: #fff;
  background-color: #212529
}

.table-inverse td,.table-inverse th,.table-inverse thead th {
  border-color: #32383e
}

.table-inverse.table-bordered {
  border: 0
}

.table-inverse.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255,255,255,.05)
}

.table-inverse.table-hover tbody tr:hover {
  background-color: rgba(255,255,255,.075)
}

@media (max-width: 991px) {
  .table-responsive {
      display:block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar
  }

  .table-responsive.table-bordered {
      border: 0
  }
}
