@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lexend+Exa:wght@200;400;600;700;800&family=Lexend:wght@600&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,400;9..40,700;9..40,800&family=Inter:wght@200;300;400&family=Lexend+Exa:wght@200;400;600;700;800&family=Lexend:wght@600&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #e2edf1; */
  font-family: "Inter", sans-serif;
}
h2 {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.left-side {
  width: 15%;
}
.right-side {
  flex: 1;
}
.btn-login,
.btn-org {
  border: 2px solid #089bd9;
  background-color: transparent;
  color: #000;
}
.profile-details {
  font-family: "DM Sans", sans-serif;
}
.user-profile {
  font-family: "Inter", sans-serif;
}
