@tailwind base;
@tailwind components;
@tailwind utilities;

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}
